.contact_button {
    position: relative;
    padding: 11px 20px 12px 51px;
    border-radius: 80px;
    overflow: hidden;
    cursor: pointer;
}
.internal_button {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 37px;
    height: 37px;
    border-radius: 80px;
    text-align: center;
    padding-top: 8px;
}
.button_text {
    font-family: var(--neue-montreal-font);
    font-size: 18px;
}